html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#hvit1 {grid-area: a; border:solid black 1px;}
#hvit2 {grid-area: b; border:solid black 1px;}
#hvit3 {grid-area: c; border:solid black 1px;}
#hvit4 {grid-area: d; border:solid black 1px;}
#hvit5 {grid-area: e; border:solid black 1px;}
#hvit6 {grid-area: f; border:solid black 1px;}
#hvit7 {grid-area: g; border:solid black 1px;}
#hvit8 {grid-area: h; border:solid black 1px;}
#hvit9 {grid-area: i; border:solid black 1px;}

#svart1 {grid-area: 1; background-color: black;}
#svart2 {grid-area: 2; background-color: black;}
#svart3 {grid-area: 3; background-color: black;}
#svart4 {grid-area: 4; background-color: black;}
#svart5 {grid-area: 5; background-color: black;}
#svart6 {grid-area: 6; background-color: black;}

#piano {
    height: 500px;
    width: 1000px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(21,1fr);
    grid-template-areas: 
    "a,1,1,b,2,2,c,d,3,3,e,4,4,f,5,5,g,h,6,6,i"
    "a,1,1,b,2,2,c,d,3,3,e,4,4,f,5,5,g,h,6,6,i"
    "a,a,b,b,b,c,c,d,d,e,e,e,f,f,f,g,g,h,h,i,i"
}