html, body {
    margin: 0;
    padding: 0;
}

/* tok litt inspirasjon fra løsningsforslaget til prøven vi hadde*/
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    padding: 2rem;
}

main {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    padding: 2rem;
    justify-items: flex-end;
}


/* W3schools hjalp litt med borders: https://www.w3schools.com/css/css_border_color.asp , https://www.w3schools.com/css/css_border_width.asp */

#hvit1 {grid-area: a; border-color: black white black black; border-style: solid; border-width: 1px; display: flex; justify-content: center;}
#hvit2 {grid-area: b; border-color: black white black white; border-style: solid; border-width: 1px; display: flex; justify-content: center;}
#hvit3 {grid-area: c; border-color: black white black white; border-style: solid; border-width: 1px; display: flex; justify-content: center;}
#hvit4 {grid-area: d; border-color: black white black black; border-style: solid; border-width: 1px; display: flex; justify-content: center;}
#hvit5 {grid-area: e; border-color: black white black white; border-style: solid; border-width: 1px; display: flex; justify-content: center;}
#hvit6 {grid-area: f; border-color: black white black white; border-style: solid; border-width: 1px; display: flex; justify-content: center;}
#hvit7 {grid-area: g; border-color: black white black white; border-style: solid; border-width: 1px; display: flex; justify-content: center;}
#hvit8 {grid-area: h; border-color: black white black black; border-style: solid; border-width: 1px; display: flex; justify-content: center;}
#hvit9 {grid-area: i; border-color: black black black white; border-style: solid; border-width: 1px; display: flex; justify-content: center;}

#hvit_1 {grid-area: a_; border-color: white black black white; border-style: solid; border-width: 1px;}

#hvit_2-1 {grid-area: b-; border-color: white white black white; border-style: solid; border-width: 1px;}
#hvit_2-2 {grid-area: b_; border-color: white black black white; border-style: solid; border-width: 1px;}

#hvit_3 {grid-area: c-; border-color: white white black white; border-style: solid; border-width: 1px;}

#hvit_4 {grid-area: d_; border-color: white black black white; border-style: solid; border-width: 1px;}

#hvit_5-1 {grid-area: e-; border-color: white white black white; border-style: solid; border-width: 1px;}
#hvit_5-2 {grid-area: e_; border-color: white black black white; border-style: solid; border-width: 1px;}

#hvit_6-1 {grid-area: f-; border-color: white white black white; border-style: solid; border-width: 1px;}
#hvit_6-2 {grid-area: f_; border-color: white black black white; border-style: solid; border-width: 1px;}

#hvit_7 {grid-area: g-; border-color: white white black white; border-style: solid; border-width: 1px;}

#hvit_8 {grid-area: h_; border-color: white black black white; border-style: solid; border-width: 1px;}

#hvit_9 {grid-area: i-; border-color: white white black white; border-style: solid; border-width: 1px;}


#svart1 {grid-area: j; background-color: black; color: white; display: flex; justify-content: center;}
#svart2 {grid-area: k; background-color: black; color: white; display: flex; justify-content: center;}
#svart3 {grid-area: l; background-color: black; color: white; display: flex; justify-content: center;}
#svart4 {grid-area: m; background-color: black; color: white; display: flex; justify-content: center;}
#svart5 {grid-area: n; background-color: black; color: white; display: flex; justify-content: center;}
#svart6 {grid-area: o; background-color: black; color: white; display: flex; justify-content: center;}


#piano { 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 500px;
    width: 1000px;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(30,1fr);
    grid-template-areas: 
    "a a j j b b k k c c d d l l e e m m f f n n g g h h o o i i"
    "a a j j b b k k c c d d l l e e m m f f n n g g h h o o i i"
    "a a a_ b- b b b_ c- c c d d d_ e- e e e_ f- f f f_ g- g g h h h_ i- i i"
}